<% content_for :navbar do %>  
  <nav class="pull-right nav-collapse collapse">
    <ul id="menu-main" class="nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="servicos.html">Serviços</a></li>
      <li><a href="ficha.html">Ficha do pet</a></li>
      <li><a class="selected" href="loja.html">A loja</a></li>
      <li><a href="contato.html">Contato</a></li>
    </ul>
  </nav>
<% end %>


<section class="spacer green">
  <div class="container">
    <div class="row">
      <div class="span12 aligncenter flyUp">
        <h2 class="pagetitle">A Loja</h2>
      </div>
    </div>
  </div>
</section>

<section id="maincontent" class="inner">
  <div class="container">

    <div class="row">
      
      <div class="span7">
        <br />
        <div class="carousel slide article-slide" id="article-photo-carousel">

          <div class="carousel-inner cont-slider">
            <div class="item active">
              <img alt="" title="" src="img/loja/1.jpg">
            </div>
            <div class="item">
              <img alt="" title="" src="img/loja/2.jpg">
            </div>
            <div class="item">
              <img alt="" title="" src="img/loja/3.jpg">
            </div>
            <div class="item">
              <img alt="" title="" src="img/loja/4.jpg">
            </div>
            <div class="item">
              <img alt="" title="" src="img/loja/5.jpg">
            </div>
          </div>
          
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
              <img alt="" src="img/loja/miniatura1.jpg">
            </li>
            <li class="" data-slide-to="1" data-target="#article-photo-carousel">
              <img alt="" src="img/loja/miniatura2.jpg">
            </li>
            <li class="" data-slide-to="2" data-target="#article-photo-carousel">
              <img alt="" src="img/loja/miniatura3.jpg">
            </li>
            <li class="" data-slide-to="3" data-target="#article-photo-carousel">
              <img alt="" src="img/loja/miniatura4.jpg">
            </li>
            <li class="" data-slide-to="4" data-target="#article-photo-carousel">
              <img alt="" src="img/loja/miniatura5.jpg">
            </li>
          </ol>
        </div>
      </div>

      <div class="span5">
        <h2>Um pouquinho mais sobre nós</h2>

        <p> A PetShow foi inaugurada em meados de 2003. Ela está localizada no centro do Rio de Janeiro. A loja conta com modernas instalações e pessoal altamente qualificado. Além da prestação de serviços de banho e tosa o portal vem conquistando a preferência dos cariocas que nos tem procurado para aquisições de rações, medicamentos, ou para consultar seu pet. Em parceria com seus fornecedores, a empresa oferece o que há de melhor em produtos e serviços veterinários.</p>
        <p>Ao entrar você terá à sua disposição o atendimento personalizado de profissionais que tratarão, com respeito, você e seu animal de estimação.</p>       
        <p>A missão do Pet Shop Nosso Pet é tratar o seu amiguinho com o devido respeito, deixá-lo mais saudável e conscientizar a todos os proprietários sobre a guarda responsável.​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​</p>
        <p>Não tem como trazer seu bichinho? Sem problemas, contamos com o serviço de busca em toda a região da grande Rio. Para verificar valores entre em contato conosco</p> 
      </div>
    </div>

    <br />
    <br />
    <div class="row">
      <div class="span12 aligncenter">
        <h2>Onde estamos?</h2>
        <p>
          Avenida João Pinheiro da Rocha, nº: 13 <br />
          Bairro Dom Bosco <br />
          Rio de Janeiro - RJ  <br />
        </p>
      </div>
    </div>
    
  </div>

</section>