<% content_for :navbar do %>  
  <nav class="pull-right nav-collapse collapse">
    <ul id="menu-main" class="nav">
      <li><a href="index.html">Home</a></li>
      <li><a class="selected" href="servicos.html">Serviços</a></li>
      <li><a href="ficha.html">Ficha do pet</a></li>
      <li><a href="loja.html">A loja</a></li>
      <li><a href="contato.html">Contato</a></li>
    </ul>
  </nav>
<% end %>

<section class="spacer green">
  <div class="container">
    <div class="row">
      <div class="span12 aligncenter flyUp">
        <h2 class="pagetitle">Serviços</h2>
      </div>
    </div>
  </div>
</section>

<section id="maincontent" class="inner">
  <div class="container">

    <div class="row">
      <div class="span4">
        <img class="max-img" src="img/servicos/banho.jpg" alt="" />
      </div>
      <div class="span8">
        <h2>Banho</h2>
        <p> 
          Assim como o homem precisa de cuidados, com os animais não é diferente. Os cuidados diários ajudam os animais a se manterem saudáveis e evitam doenças, tanto para eles como para as pessoas que estão ao redor.
        </p>

        <p> 
          O ideal é que os hábitos para a saúde do cão sejam feitos por profissionais da área, em PetShops. Já que possuem produtos especializados para a higiene canina, como shampoos, pentes, escovas, produtos para limpezas de ouvido e para secagem do pelo. Esse ponto é primordial e de suma importância, caso o cão fique úmido e sua secagem não seja feita corretamente, ele ficará vulnerável a fungos e bactérias, podendo prejudicar sua saúde.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <h2>Tosa</h2>
        <p> 
          A tosa higiênica é tida como um dos cuidados mais importantes para a saúde e a higiene de cachorros e, quem é responsável por pets caninos, deve ter sempre anotado na agenda esse compromisso mensal. Embora muitos acreditem que levar seus cachorrinhos para a tosa com frequência seja uma ação de proprietários que buscam apenas deixar seus amiguinhos bonitos e com o “penteado” em dia, essa preocupação traz muito mais benefícios além do estético, ajudando a manter os cãezinhos livres do acúmulo de sujeira e até de acidentes.
        </p>

        <p> 
          A tosa higiênica pode ser considerada uma necessidade na vida dos cachorros, e não um luxo, como é pensado por alguns. Ajudando a manter a saúde do animal por meio da prevenção do acúmulo de sujeiras em seus pelos, esse serviço é indicado a todo tipo de cão com pelos longos, sendo que, quanto maior for o comprimento da pelagem de seu pet, maior deve ser a frequência das tosas.
        </p>
      </div>
      <div class="span4">
        <img class="max-img" src="img/servicos/tosa.jpg" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <img class="max-img" src="img/servicos/ornamentos.jpg" alt="" />
      </div>
      <div class="span8">
        <h2>Ornamentos</h2>
        <p> 
          Que vestir os cães faz a alegria dos donos, não há dúvida! Eles ficam tão lindos e irresistíveis, com roupinhas quentinhas, não é mesmo? Para deixar seu bichinho de estimação muito estiloso venha para a PetShow.
        </p>

        <p> 
          Aqui podemos lhe dar dicas a respeito de qual item é o mais indicado para o seu bichinho. A escolha passa por lacinhos, roupas, sapatos, gravatas e coleiras estilizadas.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <h2>Alimentação</h2>
        <p> 
          É importante avaliar o regime alimentar do seu animal, verificar que este é adequado em qualidade e quantidade para a sua idade, raça e situação fisiológica.
        </p>

        <p> 
          Nós da PetShow contamos com as marcas de ração, sachês e patês mais conceituadas. Podemos lhe fornecer informações importantes para a escolha da alimentação mais indicada de acordo com as caracteristicas do seu bichinho.
        </p>
      </div>
      <div class="span4">
        <img class="max-img" src="img/servicos/alimentacao.jpg" alt="" />
      </div>
    </div>
  </div>

</section>